<%= render 'sites/site_detail_menu' %>

<%= link_to 'New Menu', new_site_menu_path(site_id: @site.id) %>

<%= content_tag(:h1, @site.name) %>

<div>
  <%= hidden_field_tag('site_id', @site.id) %>

  <%= content_tag(:ul, { id: 'menu_sort' }) do %>
      <%= render partial: 'site_menu', collection: @menus %>
  <% end %>
</div>