<!DOCTYPE html>
<html>
<head>
  <title>EffortlessSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="/tinymce/tinymce.min.js"></script>
  <%= javascript_include_tag 'tinymce-call' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'common/menu' %>
<%= yield %>

</body>
</html>
